@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Zoo App</h1>
    <p>You can find several categories of animals and the full description of them</p>
</div>
